# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Development\articles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
